node_modules
dist
.tmp
.sass-cache
coverage
app/components
app/johnny/css
test/coverage
coverage
phantomjsdriver.log
.DS_Store
npm-debug.log
.idea/
app/templates/
app/googleAnalytics.js
report.json
test/e2e/report/src
test/e2e/report/e2e-test-results/*
app/appConfig.js
