$color-white:        		rgba(255,255,255,1);
$color-text:         		rgba(33, 33, 33, 1);
$color-secondarytxt: 		rgba(117, 117, 117, 1);
$color-hint:         		rgba(189, 189, 189, 1);
$color-hover:        		rgba(0,0,0,.3);
$color-border:       		rgba(224, 224, 224, 1);
$color-warning:      		rgba(255, 153, 0, 1);
$color-danger:       		rgba(247, 65, 45, 1);
$color-success:      		rgba(137, 197, 64, 1);
$color-subtitle:     		rgba(136, 136, 136, 1);
$color-progressbuttongrey:	rgba(183, 183, 183, 1);
$color-progressbuttonred:	rgba(242, 68, 52, 1);
$color-progressbuttongreen:	rgba(109, 191, 0, 1);

//blue colors scale
$color-primary:      		rgba(0, 149, 245, 1);
$color-blue-secondary:      rgba(2, 131, 214, 1);

//grey colors scale
$color-black:               rgba(0, 0, 0, 1);
$color-dark-grey:           rgba(137, 137, 137, 1);
$color-dark-grey-2:         rgba(108, 111, 116, 1);
$color-dark-grey-3:         rgba(229, 229, 229, 1);
$color-light-grey:          rgba(204, 204, 204, 1);
$color-light-grey-2:        rgba(153, 153, 153, 1);
$color-light-grey-3:        rgba(239, 237, 237, 1);
$color-light-grey-4:        rgba(127, 127, 127, 1);
$color-light-grey-5:        rgba(222, 222, 222, 1);
$color-header-timer:        rgba(137, 137, 137, 1);
$color-grey-cancel-hover:   rgba(239, 237, 237, 1);
$color-annotations-border:  rgba(151, 151, 151, 1);
$color-annotations-border:  rgba(151, 151, 151, 1);

//red colors scale
$color-required-icon:      rgba(255, 0, 0, 1);
$color-error-background:   rgba(252, 237, 237, 1);
$color-error-color:        rgba(215, 42, 52, 1);

//With Opacity
$color-black-opacity-level-1: rgba(0,0,0,0.3);
$color-black-opacity-level-2: rgba(0,0,0,0.9);
$color-black-opacity-level-3: rgba(0,0,0,0.16);
$color-black-opacity-level-4: rgba(0,0,0,0.19);
$color-black-opacity-level-5: rgba(0,0,0,0.21);
$color-black-opacity-level-6: rgba(0,0,0,0.23);
$color-black-opacity-level-7: rgba(0,0,0,0.26);
