/*End dependencies*/

$type-xl:           36px;
$type-l:            30px;
$type-m:            24px;
$type-s:            18px;
$type-xs:           12px;
$type-paragraph:    14px;

$primary-font: 'PT Sans', Helvetica, Arial, sans-serif;
$heading-font: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
