<div class="opSubmitActivityPopup">
    <div class="opSubmitActivityPopup_header">
        <p class="opSubmitActivityPopup_title">Switch Accounts Before Submitting?</p>
    </div>
    <div class="opSubmitActivityPopup_body">
        <p class="opSubmitActivityPopup_body_text">All completed work will be lost if you switch accounts before submitting your work.</p>
    </div>
    <div class="opSubmitActivityPopup_footer">
        <button id="idSwitchAccountWithoutSubmitCancelButton" type="button" ng-click="closeModal()"
            class="opSubmitActivityPopup_cancenlButton">
            CANCEL
        </button>
        <button id="idSwitchAccountWithoutSubmitButton" type="button" ng-click="proceedWithoutSubmitting()"
            class="opSubmitActivityPopup_confirmButton">
            SWITCH ACCOUNTS
        </button>
    </div>
</div>
